### Calculating the Risk of a Security - INFY, HINDALCO

In [1]:
import numpy as np
import pandas as pd
import nsepy as nse
import matplotlib.pyplot as plt

In [2]:
from nsepy import get_history
from datetime import date

In [6]:
tickers = ['INFY', 'HINDALCO']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = nse.get_history(t, index = False, start = date(2018, 1, 1), end = date(2023, 3, 24))['Close']

In [7]:
sec_data

               INFY  HINDALCO
Date
2018-01-01  1033.55    271.15
2018-01-02  1029.70    271.90
2018-01-03  1021.30    276.50
2018-01-04  1015.40    279.80
2018-01-05  1012.00    276.40
...             ...       ...
2023-03-20  1403.65    385.75
2023-03-21  1390.70    388.55
2023-03-22  1389.25    392.75
2023-03-23  1374.55    398.80
2023-03-24  1380.65    388.40

[1297 rows x 2 columns]

In [8]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                INFY  HINDALCO
Date
2018-01-01       NaN       NaN
2018-01-02 -0.003732  0.002762
2018-01-03 -0.008191  0.016776
2018-01-04 -0.005794  0.011864
2018-01-05 -0.003354 -0.012226
...              ...       ...
2023-03-20 -0.012074 -0.027991
2023-03-21 -0.009269  0.007232
2023-03-22 -0.001043  0.010751
2023-03-23 -0.010638  0.015287
2023-03-24  0.004428 -0.026424

[1297 rows x 2 columns]

### INFY

Daily risk:

In [9]:
sec_returns['INFY'].std()

0.025858780215284132

Annual risk:

In [11]:
sec_returns['INFY'].std()*250**0.5

0.4088632149699854

### HINDALCO

In [13]:
sec_returns['HINDALCO'].std()

0.02660142997120023

In [14]:
sec_returns['HINDALCO'].std()*250**0.5

0.4206055386323003

Store the volatilities of the two stocks in an array called “vols”.

In [15]:
vols = sec_returns[['INFY', 'HINDALCO']].std() * 250**0.5
vols

INFY        0.408863
HINDALCO    0.420606
dtype: float64